{
    "$schema": "https://raw.githubusercontent.com/ScoopInstaller/Scoop/master/schema.json",
    "version": "",
    "description": "",
    "homepage": "",
    "license": "",
    "suggest": { "JDK": ["java/openjdk"] },
    "url": "https://unlicense.org/UNLICENSE",
    "pre_install": [
        "Copy-Item -Path (Join-Path $bucketsdir $bucket 'scripts\\command-wrapper\\command-wrapper.vbs') -Destination (Join-Path $dir 'command-wrapper.vbs')",
        "Copy-Item -Path (Join-Path $bucketsdir $bucket 'scripts\\command-wrapper\\command-wrapper.cmd') -Destination (Join-Path $dir 'command-wrapper.cmd')"
    ],
    "installer": {
        "script": [
            "git clone --recurse-submodules https://github.com/owner/repo \"$dir\\repo\"",
            "Get-ChildItem \"$dir\\repo\\*\" -Force | Move-Item -Destination \"$dir\" ",
            "mvn package -DskipTests"
        ]
    },
    "bin": [["command-wrapper.cmd", "shim-name", "java -jar target/app.jar"]],
    "shortcuts": [
        ["command-wrapper.vbs", "GUI Name", "java -jar target/app.jar", "Icon.ico"]
    ]
}
